#################################################
#                                               #
# ALERT: You are entering into a secured area!  #
# Your IP, Login Time, Username has been noted  #
# and has been sent to the server administrator #
# ###############################################
# SERVER NAME                                   #
# {{ fqdn }}                                  
# {{ organization_unit }}  {{ company_name }}   
# {{ ansible_lsb.description }} {{ ansible_kernel }} {{ ansible_machine }}    
#################################################
